.slide {
  background-color: #282c34;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-centered {
  justify-content: space-around;
  align-items: center;
}
.flex-spaced-out {
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}
.flex-start {
  align-items: flex-start;
}

.flex-g-1 {
  flex-grow: 1;
}

.flex-pad-100 {
  width: 100px;
  flex-shrink: 0;
}
.flex-pad-30 {
  width: 100px;
  flex-shrink: 0;
}

.primary-image {
  height: 80%;
}

.width-90pc {
  width: 90%;
}
.width-50pc {
  width: 50%;
}

.height-300px {
  height: 300px;
}

.ring {
  padding: 20px !important;
  border: 2px #d7dae0 solid !important;
  border-radius: 100% !important;
  font-size: 24px !important;
}

.margin-20 {
  margin: 20px;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.color-blue {
  color: blue;
}
.color-light-blue {
  color: light-blue;
}
.img {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.medium-img {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100px;
  height: 100px;
}
